.send {
    border-radius: 9px;
    color: rgba(134, 6, 246, 0.909);
    cursor: pointer;
    margin-left: 420px;
    margin-top: 10px;
  }
.invalid {
  border-color: red;
  background-color: #ffcccc
}
.invalid-good {
  background-color: green;
}
.label {
display: flex;
margin-left: 417px;
margin-top: -35px;
}
.invalid-feedback {
color: rgba(242, 10, 10, 0.824);
margin-left: 370px;
margin-top: 5px;
font-size: 12px;
}
.qqq {
display: block;
margin-left: 300px;
margin-top: 120px;
font-size: 26px;
  }
.generation {
    display: flex;
    background-color: rgb(240, 46, 46);
    color: aqua;
    font-size: 32px;
    margin-top: 200px;
    margin-left: 60px;
  }
.generation:hover {
    cursor: pointer;
    border-radius: 10px
  }
  .header {
    display: flex;
  }
  .btn-green {
    background-color: green;
    padding: 15px;
  }
  .btn-green:active {
    background-color: hsla(149, 81%, 19%, 0.79);
  }
  .btn-blue {
    background-color: #0808f5;
    padding: 15px;
  }
    .btn-blue:active {
      background-color: #4c4cf5;
    }
  .changeColor {
    position: absolute;
    margin-left: 300px;
    margin-top: 400px;
  }
  .image-sock {
    position: relative;
    border-radius: none;
  }
  .v-cart {
    top: 3px;
    left: 1180px;
    width: 50px;
    height: 50px;
    background-color: rgb(30, 185, 196);
    border-radius: 10px;
    z-index: 10;
    position: fixed;
    
  }
  .product_data_name {
    text-align: center;
  }
  .addCart {
    padding: 7px 4px;
    cursor: pointer;
    color: white;
    background-color: rgb(56, 192, 194);
    position: relative;
    margin-top: 83px;
    border-radius: 10px;
    &:active {
      background-color: rgb(60, 172, 174);
    }
  }
  
  .disabledBtn {
    background-color: rgb(183, 181, 181);
  }
  .paraNN {
    text-decoration: line-through;
  }
  .border-box {
    width: 80px;
    margin-left: 300px;
    padding: 5px;
    cursor: pointer;
  }
  .headers {
    position: absolute;
    width: 1250px;
    top: -15px;
    background-color: white;
    display: flex;
    margin-bottom: -20px;
    list-style-type:none;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  .header {
  position: fixed;
  background-color: white;
  top: 0px;
  z-index: 10;
  }
  .headers :hover {
    transform: scale(1.1)
  }
  ul li {
    margin-left: 170px;
    cursor: pointer;
  }
  .src_iphone {
    margin-left: 150px;
    text-decoration: none;
    color: black;
  }
  .btnCloseIteminCart {
    position: relative;
    top: 10px;
    right: -130px;
    cursor: pointer;
    border-radius: 7px;
    border-color: white;
  }
  .logotaip {
    margin-left: -140px;
  }
  .logo {
    list-style-type:none;
  }
  .product_data {
    background-color: white;
    margin-top: 25px;
    margin-left: 25px;
    align-items: center;
    top: 100px;
    left: 100px;
    width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 24px;
  transition: 0.2s;
  position: relative;
  }
  .product_data:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .v_cart_item {
    background-color: white;
    align-items: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 24px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  }
  .v_cart_item:hover {
    background-color: rgb(237, 229, 229);
    transform: scale(1.04)
  }
  .cart_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 10;
    background-color: rgb(3, 0, 0)
  }
  .HomePage {
    position: relative;
    top: 150px;
  }
  .cart_window {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 320px;
    height: 100%;
    z-index: 10;
    overflow: scroll;
    animation: Wrapper 1s;
  }
  @keyframes Wrapper{
    0%{
      transform: translateX(300px);
    }
    100%{
      transform: translateX(0);
    }
  }
  body {
    background-color: rgb(236 235 233 / 43%);
    max-width: 100%;
    overflow-x: hidden;
  }
  .get_api {
    display: flex;
    flex-wrap: wrap;
  }
  .footer {
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    height: 80%;
    top: 1300px;
  }
  .product_data_price {
    position: relative;
    top: 180px;
  }
  .headerCart {
    border-bottom: solid 1px;
    padding-left: 8px;
  }
  .footerCart {
    position: relative;
    border-bottom: solid 1px;
    top: 460px;
  }
  .footerCart b {
    position: relative;
    font-size: 20px;
    left: 8px;
  }
  .btnCloseCart {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
  }
  .btnCloseCart:hover {
    transform: scale(1.1)
  }
  .adress {
    font-size: 18px;
    display: flex;
  }
  .city_adress {
    position: relative;
    top: 45px;
    right: 90px;
  }
  .tver {
    position: relative;
    right: 70px;
  }
  .pagination {
    position: relative;
    display: flex;
    top: 110px;
    left: 500px;
  }
  .page {
    padding: 14px;
    border: 1px solid black;
    cursor: pointer;
    margin: 4px;
    border-radius: 10px;
  }
  .page:hover {
    background-color: grey;
  }
  .hoverEffect {
    background-color: grey;
  }
  .modal {
    position: fixed;
    z-index: 999;
    right: 0px;
    top: 0;
    width: 25%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #4c6a8a;
    opacity: 0.6;
  }
  .placing_an_order {
    position: relative;
    top: 360px;
    left: 20px;
    padding: 10px;
    width: 260px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background-color: rgb(56, 192, 194);
    &:hover {
      transform: scale(1.04)
    }
    &:active {
      background-color: rgb(60, 172, 174);
    }
  }
  .total {
    position: absolute;
    top: 0px;
    left: 200px;
  }
  .disabledBtn {
    background-color: rgb(182, 175, 175);
    &:hover {
      background-color: rgb(182, 175, 175);
    }
  }
  .empty_cart {
    font-size: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
 }