body {
  background-color: rgb(236 235 233 / 43%);
  max-width: 100%;
  overflow-x: hidden;
}
  .header {
    display: flex;
  }
  .v-cart {
    top: 3px;
    left: 1180px;
    width: 50px;
    height: 50px;
    background-color: rgb(30, 185, 196);
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    cursor: pointer;
    
  }
  .product_data_name {
    position: absolute;
    font-size: 15px;
    text-align: center;
  }
  .addCart {
    position: relative;
    padding: 7px 4px;
    cursor: pointer;
    color: white;
    background-color: rgb(56, 192, 194);
    top: 10px;
    border-radius: 10px;
    &:active {
      background-color: rgb(60, 172, 174);
    }
  }
  
  .disabledBtn {
    background-color: rgb(183, 181, 181);
  }
  .paraNN {
    text-decoration: line-through;
  }
  .border-box {
    width: 80px;
    margin-left: 300px;
    padding: 5px;
    cursor: pointer;
  }
  .headers {
    position: absolute;
    width: 1250px;
    top: -15px;
    background-color: white;
    display: flex;
    margin-bottom: -20px;
    list-style-type:none;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  .header {
  position: fixed;
  background-color: white;
  top: 0px;
  z-index: 10;
  }
  .headers :hover {
    transform: scale(1.1)
  }
  ul li {
    margin-left: 170px;
    cursor: pointer;
  }
  .src_iphone {
    margin-left: 150px;
    text-decoration: none;
    color: black;
  }
  .btnCloseIteminCart {
    position: relative;
    top: 10px;
    right: -130px;
    cursor: pointer;
    border-radius: 7px;
    border-color: white;
  }
  .logotaip {
    margin-left: -140px;
  }
  .product_data {
    display: flex;
    flex-wrap: wrap;
  }
  .product_data_card {
    background-color: white;
    margin-top: 25px;
    margin-left: 25px;
    align-items: center;
    top: 100px;
    left: 100px;
    width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  transition: 0.2s;
  position: relative;
  }
  .product_data_card:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .v_cart_item {
    background-color: white;
    align-items: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  }
  .v_cart_item:hover {
    background-color: rgb(237, 229, 229);
    transform: scale(1.04)
  }
  .cart_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 10;
    background-color: rgb(3, 0, 0)
  }
  .HomePage {
    position: relative;
    top: 150px;
  }
  .cart_window {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 320px;
    height: 100%;
    z-index: 10;
    overflow: scroll;
    animation: Wrapper 1s;
  }
  @keyframes Wrapper{
    0%{
      transform: translateX(300px);
    }
    100%{
      transform: translateX(0);
    }
  }
  .get_api {
    display: flex;
    flex-wrap: wrap;
  }
  .footer {
    position: absolute;
    background-color: black;
    color: white;
    right: 0;
    width: 100%;
    height: 60%;
    top: 1300px;
  }
  .product_data_price {
    right: 60px;
    position: relative;
    top: 140px;
  }
  .headerCart {
    border-bottom: solid 1px;
    padding-left: 8px;
  }
  .footerCart {
    position: relative;
    border-bottom: solid 1px;
    top: 460px;
  }
  .footerCart b {
    position: relative;
    font-size: 20px;
    left: 8px;
  }
  .btnCloseCart {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
  }
  .btnCloseCart:hover {
    transform: scale(1.1)
  }
  .adress {
    font-size: 18px;
    display: flex;
  }
  .city_adress {
    position: relative;
    top: 45px;
    right: 90px;
  }
  .tver_city {
    position: relative;
    right: 70px;
  }
  .pagination {
    position: relative;
    display: flex;
    top: 110px;
    left: 500px;
  }
  .page {
    padding: 14px;
    border: 1px solid black;
    cursor: pointer;
    margin: 4px;
    border-radius: 10px;
  }
  .page:hover {
    background-color: grey;
  }
  .hoverEffect {
    background-color: grey;
  }
  .placing_an_order {
    position: relative;
    top: 360px;
    left: 20px;
    padding: 10px;
    width: 260px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background-color: rgb(56, 192, 194);
    &:hover {
      transform: scale(1.04)
    }
    &:active {
      background-color: rgb(60, 172, 174);
    }
  }
  .total {
    position: absolute;
    top: 0px;
    left: 200px;
  }
  .disabledBtn {
    background-color: rgb(182, 175, 175);
    &:hover {
      background-color: rgb(182, 175, 175);
    }
  }
  .empty_cart {
    font-size: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 160px;
 }
 .counter_btn {
  display: inline-grid;
  width: 25px;
  justify-content: center;
  border-radius: 5px;
  &:hover {
    background-color: #c8c8d0;
  }
 }
 .order {
  position: relative;
  top: 60px;
  width: 100%;
  height: 90%;
 }
 .closeOrder {
  position: absolute;
  right: 10px;
  top: 30px;
 }
 .userData {
  bottom: 100px;
  top: 100px;
  display: grid;
  position: absolute;
 }
 .userInput {
  border: none;
  background-color: rgb(226, 223, 223);
  height: 40px;
  width: 350px;
 }
 .cartOrder {
  top: 123px;
  background-color: white;
  position: relative;
  left: 540px;
  width: 37%;
	border-collapse: collapse;
 }
 .cartOrder th {
  font-weight: bold;
	padding: 15px;
	background: #efefef;
	border: 1px solid #dddddd;
 }
 .cartOrder td {
	border: 1px solid #dddddd;
}
.unit_item_order {
  border-bottom: 1px solid #dddddd;
  padding: 7px;
}
.redWarning {
  color: red;
}
.invalid {
  border: 1px solid red;
  box-shadow: 2px 2px red, -1em 0 .4em olive;
}
.imgCart {
  position: relative;
  bottom: 20px;
}
.product_data_avialable {
  font-size: 12px;
  position: relative;
  top: 112px;
  left: 50px;
}
.product_data_almost_end {
  font-size: 12px;
  position: relative;
  top: 112px;
  left: 50px;
}
.product_data_end {
  font-size: 12px;
  position: relative;
  top: 112px;
  left: 50px;
}
.incrDecr {
  width: 74px;
  border-radius: 5px;
  padding: 4px;
  background-color: rgb(234, 232, 229);
}
.product_data_image {
  width: 180px;
  position: relative;
  top: 60px;
}
.total_price_order {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}
.btn_order_comfirm {
  position: relative;
  top: 40px;
  width: 330px;
  border-radius: 10px;
  border: none;
  height: 50px;
  cursor: pointer;
  background-color: rgb(56, 192, 194);
  &:active {
    background-color: rgb(60, 172, 174);
  }
}
.selected {
  display: flex;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 85px;
  left: 550px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  background-color: #c8c8d0;
}
.sortItem {
  position: relative;
  top: 90px;
}
.renderText {
  position: relative;
  top: 200px;
  left: 700px;
  font-size: 20px;
}
.logoHomePage {
  position: relative;
  top: 100px;
  left: 580px;
}
.startTextPage b {
  position: relative;
  font-size: 40px;
  top: 180px;
  left: 350px;
  color: rgb(71, 71, 236);
}
.startTextPage p {
  position: relative;
  font-size: 30px;
  top: 180px;
  left: 210px;
}
.homePage {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.qwed {
  position: relative;
  top: 100px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .logotaip {
    position: relative;
    margin-left: 76px;
    top: 6px;
  }
  .headers {
    position: absolute;
    left: -8px;
    margin-bottom: -20px;
    padding: 20px;
}
.src_iphone {
  position: relative;
  top: 20px;
  left: -270px;
  display: flex;
  margin-left: 85px;
  text-decoration: none;
  color: black;
}

.page {
  position: relative;
  right: 324px;
}
.footer {
  position: relative;
  top: 193px;
  width: 549px;
  right: 8px;
}
.footer h2 {
position: relative;
top: 62px;
right: 84px;
}
.selected {
  position: relative;
  left: 210px;
}
.adress {
display: block;
position: relative;
bottom: 58px;
left: 93px;
}
.v-cart {
  position: absolute;
  left: 460px;
}
.startTextPage  {
  display: inline;
  & b {
    font-size: 30px;
    display: flex;
    top: 140px;
    left: 100px;
  }
  & p {
    display: flex;
    font-size: 25px;
    left: 110px;
    top: 150px;
  }
}
.logoHomePage {
  position: relative;
  left: 70%;
}
.cart_window {
  position: absolute;
  left: 0;
  right: 0;
}
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}
@media screen and (min-width: 1200px) {

}